In [1]:
import pandas as pd

In [2]:
absoluteChangeCO2=pd.read_csv('CO2 Country Profile/absolute-change-co2.csv')
absoluteChangeCO2India=absoluteChangeCO2[absoluteChangeCO2['Code']=='IND']
absoluteChangeCO2India.to_csv(r'Extracted Data India/CO2 Country Profile India/absolute-change-co2-India.csv',index=False)

In [3]:
annualCO2Emissions=pd.read_csv('CO2 Country Profile/annual-co2-emissions-per-country.csv')
annualCO2EmissionsIndia=annualCO2Emissions[annualCO2Emissions['Code']=='IND']
annualCO2EmissionsIndia.to_csv(r'Extracted Data India/CO2 Country Profile India/annual-co2-emissions-India.csv',index=False)

In [4]:
cummulativeCO2Emissions=pd.read_csv('CO2 Country Profile/cumulative-co-emissions.csv')
cummulativeCO2EmissionsIndia=cummulativeCO2Emissions[cummulativeCO2Emissions['Code']=='IND']
cummulativeCO2EmissionsIndia.to_csv(r'Extracted Data India/CO2 Country Profile India/cumulative-co-emissions-India.csv',index=False)

In [6]:
historicalEmissions=pd.read_csv('GHG Emission by Country and Economic Sector/historical_emissions.csv')
historicalEmissionsIndia=historicalEmissions[historicalEmissions['Country']=='India']
historicalEmissionsIndia.to_csv(r'Extracted Data India/GHG Emission India/historical_emissions_India.csv',index=False)

In [7]:
GLTbyCity=pd.read_csv('Climate Change-Earth Surface Temperature/GlobalLandTemperaturesByCity.csv')
GLTbyCityIndia=GLTbyCity[GLTbyCity['Country']=='India']
GLTbyCityIndia.to_csv(r'Extracted Data India/Climate Change-Earth Surface Temperature India/GLTByCityIndia.csv',index=False)

In [10]:
GLTbyCountry=pd.read_csv('Climate Change-Earth Surface Temperature/GlobalLandTemperaturesByCountry.csv')
GLTIndia=GLTbyCountry[GLTbyCountry['Country']=='India']
GLTIndia.to_csv(r'Extracted Data India/Climate Change-Earth Surface Temperature India/GLTIndia.csv',index=False)

In [11]:
GLTbyMajorCity=pd.read_csv('Climate Change-Earth Surface Temperature/GlobalLandTemperaturesByMajorCity.csv')
GLTbyMajorCityIndia=GLTbyMajorCity[GLTbyMajorCity['Country']=='India']
GLTbyMajorCityIndia.to_csv(r'Extracted Data India/Climate Change-Earth Surface Temperature India/GLTByMajorCityIndia.csv',index=False)

In [12]:
GLTbyState=pd.read_csv('Climate Change-Earth Surface Temperature/GlobalLandTemperaturesByState.csv')
GLTbyStateIndia=GLTbyState[GLTbyState['Country']=='India']
GLTbyStateIndia.to_csv(r'Extracted Data India/Climate Change-Earth Surface Temperature India/GLTByStateIndia.csv',index=False)

In [17]:
absoluteChangeCO2India.tail(n=3)

     Entity Code  Year  Annual CO2 growth (abs)
9604  India  IND  2017                64.487913
9605  India  IND  2018               134.476098
9606  India  IND  2019                25.125081

In [18]:
historicalEmissionsIndia.tail(n=3)

,Country,Data source,Sector,Gas,Unit,2018,2017,2016,2015,2014,...,1859,1858,1857,1856,1855,1854,1853,1852,1851,1850
21765,India,UNFCCC_NAI,Energy,CH₄,MtCO₂e,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21852,India,UNFCCC_NAI,Other,CH₄,MtCO₂e,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21892,India,UNFCCC_NAI,Solvent and Other Product Use,N₂O,MtCO₂e,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
GLTIndia.tail(n=3)

                dt  AverageTemperature  AverageTemperatureUncertainty Country
246305  2013-07-01              27.012                          0.197   India
246306  2013-08-01              26.555                          0.242   India
246307  2013-09-01                 NaN                            NaN   India